{% extends "blocks/block.html" %}
{% block body %}
<div class="row-fluid">
	<div class="span6">{{custom_var_a}}</div>
	<div class="span6">{{custom_var_b}}</div>
	<div>
		Map Controls
	</div>
	<button type="submit" class="btn btn-primary" onclick="fu.msg.resourceFilterChanged.dispatch();">DRAW MAP</button>
	<button type="submit" class="btn btn-primary" onclick="fu.msg.showDiagram.dispatch();">SHOW DIAGRAM</button>
	<button type="submit" class="btn btn-primary" onclick="fu.msg.removeDiagram.dispatch();">REMOVE DIAGRAM</button>
	<button type="submit" class="btn btn-primary" onclick="fu.msg.startRunning.dispatch();">RUN CONT</button>
	<button type="submit" class="btn btn-primary" onclick="fu.msg.stopRunning.dispatch();">STOP CONT</button>
	<button type="submit" class="btn btn-primary" onclick="fu.msg.runGameTurn.dispatch();">RUN GAME TURN</button>
</div>
{% endblock  %}