{% load corefilters %}
<div class="tabbable strech12">
	<ul class="nav nav-tabs">
	{% for tab_name, tab_content in blocks.items %}
		<li class="{% if forloop.first %}active{% endif %}"><a href="#tab{{ forloop.counter	}}" data-toggle="tab">{{ tab_name|label }}</a></li>
	{% endfor %}
	</ul>
	<div class="tab-content bb">
		{% for tab_name, tab_content in blocks.items %}
		<div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab{{ forloop.counter	}}">
			{% for block_key, block_content in tab_content.items %}
				<div id="{{ block_content.id }}" class="block sidebar-block">
				
					<div class="block-header">
						{{ block_key|label }}
					</div>
					<div class="block-content" data-src="{{ block_content.src }}">
					</div>
					
				</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>